
.ipynb_checkpoints
__pycache__

Emails
FirstAttempt/Data/SmallImageTrainingDataset/Features
FirstAttempt/Data/SmallImageTrainingDataset/Targets
FirstAttempt/Data/TrainingData/initLandscape.npz

SecondAttempt/Data/GosplTrials/
SecondAttempt/Data/TrialsWithSubdivision6/
SecondAttempt/Data/TrainingDataSets/
